a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.footer-section {
  background-color: #f3f8ff;
  padding-top: 80px;
  padding-bottom: 50px;

}

.footer-container {
  max-width: 1075px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
  padding-bottom: 60px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-newsletter {
  flex: 1 1 350px;
  gap: 24px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-title {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #05011c;
  letter-spacing: -0.24px;
}

.newsletter-description {
  font-weight: 400;
  font-size: 16px;
  color: #636977;
  line-height: 1.6;
  max-width: 361px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e3eaf1;
  border-radius: 14px;
  padding: 4px;
  max-width: 361px;
}

.email-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #636977;
}

.submit-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077ff;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 9px 12px 0px rgba(14, 18, 27, 0.02);
}

.submit-blur-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 300%;
  opacity: 0.8;
  filter: blur(72px);
  z-index: 1;
}

.submit-text {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.footer-nav,
.footer-resources,
.footer-contact {
  flex: 1 1 150px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  color: #11122c;
  margin-bottom: 16px;
}

.footer-nav ul,
.footer-resources ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav a,
.footer-resources a {
  font-weight: 400;
  font-size: 16px;
  color: #11122c;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.footer-nav a:hover,
.footer-resources a:hover {
  opacity: 1;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.contact-details p {
  font-weight: 400;
  font-size: 16px;
  color: #55586b;
  line-height: 1.5;
}

.contact-details strong {
  font-weight: 500;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e3eaf1;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-links a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links img {
  width: 20px;
  height: 20px;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-weight: 400;
  font-size: 17px;
  color: #636977;
}

// .social-links-mob {
//   display: none;
// }

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-section {
    padding: 50px;
  }

  .newsletter-content {
    text-align: start;
  }

  .footer-contact {
    display: none !important;
  }

  .footer-logo {
    margin-left: 84px;
  }

  .footer-column {
    width: 100%;
    min-width: unset;
    display: flex;
    text-align: start;
    margin-top: 22px;
    font-family: 'Poppins';
  }

  .newsletter-description,
  .newsletter-form {
    max-width: 100%;
  }

  .footer-section {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 16px;
    font-family: 'Poppins';
  }

  .social-links-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .social-links-mob a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e3eaf1;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .social-links-mob a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .social-links-mon img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .newsletter-content {
    text-align: center;
  }

  .social-links {
    margin-left: 72px;
  }

  .footer-icon {
    margin-left: 87px;
  }
}

@media (max-width: 320px) {
   .social-links {
    margin-left: 43px;
  }

  .footer-icon {
    margin-left: 46px;
  }
}
