<section class="py-3">
  <div class="container">
    <div class="row py-3">
      <div class="col-lg-7">
        <p class="title-label">Benefits</p>
        <h1 class="title-heading">Why Choose Us?</h1>
      </div>
      <div class="col-lg-5">
        <div class="description-container">
          <p class="description-text">
            At <strong class="company-name">Next Sale Developing</strong> we are a forward-looking digital agency that
            thrives on providing transformative solutions for businesses seeking to conquer the digital frontier.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <!-- Left Content -->
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-6">
            <div class="col">
              <img src="assets/img/tick.svg" class="icon-foreground">
              <div class="card-body">
                <h5 class="feature-title">Great Experience</h5>
                <p class="feature-description">We provide the best experience for your product. So that it is easy for
                  the user to recognize.</p>
              </div>
              <div class="ellipse-sm-divider-blue"></div>
            </div>
          </div>
          <div class="col-md-6 benefit-card">
            <img src="assets/img/support.svg" class="icon-foreground">
            <div class="card-body">
              <h5 class="feature-title">Friendly Support</h5>
              <p class="feature-description">Our friendly support team is always ready to assist you with a warm smile
                and a solution-focused approach.</p>
            </div>
          </div>
          <div class="col-md-6 benefit-card">
            <img src="assets/img/like.svg" class="icon-foreground">
            <div class="card-body">
              <h5 class="feature-title">Proven Result</h5>
              <p class="feature-description">Our track record of proven results speaks volumes about our commitment to
                delivering impactful outcomes.</p>
            </div>
            <div class="ellipse-divider-blue"></div>
          </div>
          <div class="col-md-6 benefit-card">
            <img src="assets/img/pencil.svg" class="icon-foreground">
            <div class="card-body">
              <h5 class="feature-title">Efficient Workflow</h5>
              <p class="feature-description">Feel the power of efficiency as our simplified workflow optimizes every
                step towards your product success.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-5 mt-4 mt-lg-0">
        <img src="assets/img/choose-us.svg" alt="Why Choose Us" class="img-fluid w-100 h-100 object-fit-cover rounded">
        <div class="ellipse-divider"></div>
      </div>
    </div>
  </div>
</section>
